
/**** Modal Settings ********/
.modal{
     display: none;
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background: rgba(0,0,0,0.8);
     z-index: 99999;
 }

.modal > div{
    width: 600px;
    position: relative;
    margin: 5% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

/************/


/*** General rules *****/
h1{
    font-size: 3.75em;
}

h2{
    font-size: 2.62em;
}

h3{
    font-size: 1.84em;
}

h4{
    font-size: 1.29em;
    margin: 0.8em 0;
}

button{
    font-size: 1em;
    font-weight: bold;
    border: 1px solid #ccc;
    color: #ffffff;
    background-color: #ccc;
    border-radius: 5px; /* See compatibility with older browsers */
    padding: 0.6em;
}

/******** End: General Rules *******/

/****** Question Page ********/
body{
    width: 1220px;
    margin: 0 auto;
    display: grid; /* See compatibility and uses on older browsers */
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased; /*See compatibility */
    color: #000000;
    grid-template-columns: [left] 1fr [middle-left] 3fr [middle-right] 1fr [right];
    grid-template-rows: [top] 1fr [header-end] 2fr [content-end] 0.2fr [footer-end];
}

body > header{
    grid-column: left / right;
    grid-row: top / header-end;
    text-align: center;
    padding: 2em;
    margin-bottom: 2em;
    border-bottom: solid 1px #666666;
}

body header input[type=text]{
    padding: 0.6em;
    font-size: 1em;
}

header h1{
    margin-bottom: 0.4em;
}

aside#server-health{
     grid-column: left / middle-left;
     grid-row: header-end / content-end;
 }

aside#server-health .statusOK{
    color: green;
}

aside#server-health .statusNotOK{
    color: red;
}

#list-items{
    grid-column: middle-left / middle-right;
    grid-row: header-end / content-end;
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#list-items .records{
    width: 100%;
}

#list-items ul li{
    border: 1px solid #ccc;
}

#list-items ul li a{
    display: inline-block;
    width: 100%;
    padding: 0.6em 0;
}

#list-items ul li:nth-child(2n+1){
    background-color: #fff;
}

#list-items ul li:nth-child(2n){
    background-color: #f5f5f5;
}

#list-items ul li a span.quest_id{
    padding: 0 0.4em;
}

#list-items ul li a span.quest_id:after{
    content: '|';
    margin: 0.2em;
}

#list-items button{
    margin-top: 0.8em;
    text-align: center;
}

aside#question-votes{
    grid-column: middle-right / right;
    grid-row: header-end / content-end;
}

aside#question-votes .votes-number{
    font-weight: bold;
}

aside#question-votes .votes-number:before{
    content: ' - ';
}

/********* Question Details *************/

.fa-times{
    text-align: center;
    font-size: 1.8em;
    cursor: pointer;
}

.question-poll{
    display: flex;
    flex-direction: column;
}

/******** Question Details: END **************/

footer{
    grid-column: left / right;
    grid-row: content-end / footer-end;
}